doctype html
html
    head
        meta(charset="UTF-8")
        title GULP IS THE BEST
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name='author' content='Alexander Yushchak aka Coderbit')
        meta(name="description" content="")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(href='css/main.css', rel='stylesheet')
    body
        include includes/head.jade
        // NEW of the page START
        .container
            h1.mainTitle You’ve earned it!
        // NEW of the page END
        include includes/footer.jade
