doctype html
html
    head
        meta(charset="UTF-8")
        title GULP IS THE BEST
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        meta(name='author' content='Alexander Yushchak aka Coderbit')
        meta(name="description" content="")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(href='css/main.css', rel='stylesheet')
    body
        // header of the page START
        header.top
            div.container
                a(href='#').top-logo
                    img.logo-img(src="img/logo.png")
                    span.logo-text XBOX CODES ONLINE
                    span.logo-textShadow XBOX CODES ONLINE
                nav#navigation.nav-collapse
                    ul
                        li
                            a(href='#').active
                                | HOME
                        li
                            a(href='#')
                                | FORUM
                        li
                            a(href='#')
                                | privacy policy
                        li
                            a(href='#')
                                | terms of use
                        li
                            a(href='#')
                                | instructions
        // header of the page END
        // ADV of the page END
        .codeStat
            .container
                h3 84,476
                    span  codes served, and counting!
        .codeSelect
            .container
                h1  Select Your Free Xbox Live Codes
                .memPlan-title.mobilePlanTitle
                .memPlan
                    .memPlan-title
                    .memAction
                        .memAction-desc
                            h2 1 MONTH
                            h3 BRONZE MEMBERSHIP
                    a.memAction-link(href="#") CLICK HERE
                .memPlan
                    .memPlan-title
                    .memAction
                        .memAction-desc
                            h2 3 MONTH
                            h3 SILVER MEMBERSHIP
                    a.memAction-link(href="#") CLICK HERE
                .memPlan
                    .memPlan-title
                    .memAction
                        .memAction-desc
                            h2 12 MONTH
                            h3 GOLD MEMBERSHIP
                    a.memAction-link(href="#") CLICK HERE

        // ADV of the page END

        // MAIN section of the page START

        // MAIN section of the page END

        // footer of the page START
        footer
        // footer of the page END

        script(src="https://code.jquery.com/jquery-2.1.1.min.js")
        <script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
        script(src='js/main.js')