// footer of the page START
footer
    .container
        nav
            ul
                li
                    a(href='index.html').active
                        | HOME
                        span
                li
                    a(href='instructions.html')
                        | Instructions
                        span
                li
                    a(href='terms.html')
                        | Terms of Service
                        span
                li
                    a(href='about.html')
                        | About Us
                        span
        p.info.
            Toutes les marques déposées mentionnées ici appartiennent au leurs propriétaires respectifs. En cliquant sur le lien - Rejoignez le Xbox Live Gold Gratuitment,
            vous vous mettez d’accord avec les termes de service
// footer of the page END
script(src="https://code.jquery.com/jquery-2.1.1.min.js")
<script>window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')</script>
script(src='js/main.js')