// header of the page START
header.top
    div.container
        a(href='index.html').top-logo
            img.logo-img(src="img/logo.png" alt="")
            span.logo-text XBOX CODES ONLINE
            span.logo-textShadow XBOX CODES ONLINE
        nav#navigation.nav-collapse
            ul
                li
                    a(href='index.html').active
                        | HOME
                        span
                li
                    a(href='instructions.html')
                        | Instructions
                        span
                li
                    a(href='terms.html')
                        | Terms of Service
                        span
                li
                    a(href='about.html')
                        | About Us
                        span
// header of the page END